# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\8) Pliki Szkoła\Informatyka\NWD\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
